.root {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    background-color: #003140;
}

.logo-div {
    background-color: #003140;
    height: 1080px;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0px;
    padding-right: 300px;
    padding-left: 0px;
}

.login-div {
    width: 560px;
    background-color: rgba(0, 49, 64, 0);
    height: 1080px;
    padding: 0px 0px 0px 100px;
    text-align: start;
    gap: 0px px;
    column-gap: 0px;
    position: relative;
    row-gap: 0px;
    margin: 0px;
    border: 0px solid #FFFFFF;
    opacity: 1;
    flex-direction: column;
    align-items: start;
    right: 0px;
    bottom: 0px;
    font-size: 40px;
}

.middle-line {
    display: inline-block;
    position: absolute;
    bottom: 25px;
}

.login-logo {
    width: 860px;
    display: flex;
    margin-top: 100px;
}



.email {

    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    padding-bottom: 0px;
    margin: 0px;
    top: 100px;
    opacity: 1;
}

.password {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: 70px;
}


.line {
    position: relative;
    border: 0px solid black;
    color: #FFFFFF;
    background-color: #FFFFFF;
    bottom: 40px;
}


.input {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #FFFFFF;
    opacity: 0.6;
    font-size: 25px;
}

.button {
    border: 0px solid #FFFFFF;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 25px;
}


.forgot-password {
    border: 0px solid #FFFFFF;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    opacity: 1;
    color: #003140;
    border-radius: 20px;
    box-shadow: 0.71px 0.71px -100px black;
    padding: 5px 40px;
    margin: 0px;
    direction: ltr;
}

.forgotPassword-text {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 60px;
    display: inline;
    position: relative;
    top: 50px;
}

.confirm-password {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 0px;
    padding-top: 0px;
    z-index: initial;
    position: relative;
    bottom: auto;
    top: 45px;
}

.label {
    opacity: 0.7;
    font-weight: 300;
    font-size: 28px;
}

.reset {
    display: grid;
    gap: 40px 0px;
    justify-items: center;
    font-weight: 700;
    padding-top: 60px;
    justify-content: end;
    text-align: start;
}


.cancel {
    font-size: 30px;
    font-weight: 700;
    border: 0px solid transparent;
    border-radius: 20px;
    padding: 5px 40px;
}