.root {
    height: 142px; // Standard topbar height
    background-color: #003140; // Dark blue color from your image
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    img {
        // Adjust the height of the logo and support icon as needed
        font-size: 75px;
        width: 100px;
    }
}

.top-bar-logo {
    display: flex;
    align-items: center;
    height: 100px;

    .Sales-text {
        // Styling for the "SALES" text if it has specific requirements
        color: #FFD700; // Assuming it's a gold/yellow color, adjust as needed
        font-size: 75px; // Adjust as needed
        font-weight: bold;
        margin-right: 5px; // Adds a small space between "SALES" and "OPTIMA"
    }

    .Optima-text {
        color: #ffffff; // White color for text
        font-size: 75px;
        font-weight: bold;
        margin: 0;
        line-height: 1;
    }

    margin:0px 0px 0px 20px;
}

// If you have any additional styling for images or other elements, add them here.Optima-text {}