.root {
    width: 1466px;
    height: 938px;
    background-color: #FFFFF8;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
}

.report-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.should-text {
    margin-top: 75px;
    background-color: 003140;
    color: #003140;
}

.reports-text {
    margin-top: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    color: #003140;
}

.subject-text {
    font-weight: 700;
    width: 680px;
}

.search {
    height: auto;
    padding-left: 0px;
    font-size: 20px;
}


.search-input {
    width: 680px;
    height: 60px;
    border-radius: 26px;
    padding-left: 25px;
    margin-left: 0px;
}

.helpbox {
    display: flex;
    flex-direction: row;
    width: 1460px;
    height: 500px;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
}

.youtube {
    width: 460px;
    height: 470px;
    background-color: #D2D9DD;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.handbook {
    width: 460px;
    height: 470px;
    background-color: #D2D9DD;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.faq {
    height: 470px;
    width: 460px;
    background-color: #D2D9DD;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
}