.root {
    height: 938px;
    width: 454px;
    background-color: #FFFFF8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    align-items: start;
}

.Home-root {
    display: none;
    grid-auto-flow: column;
    flex-direction: row;
}

.icon {
    width: 50px;
    height: 50px;
}

.sidebar-button {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-left: 75px;
    margin-right: 0px;
    margin-top: 75px;
    padding-left: 20px;
    width: 284px;
    border: 0px solid black;
    border-radius: 15px;
    background-color: #C0C8CA;
}

.sidebar-button-text {
    text-align: start;
    font-weight: 500;
    margin-left: 30px;
}