.root {
    width: 1466px;
    height: 938px;
    background-color: #FFFFFF;
    position: relative;
}

.home-dashboard {
    background-color: CBCBCB;
}

.content {
    display: flex;
    flex-direction: row;
}