.root {
    width: 1920px;
    height: 1080px;
}

.productContent {
    width: 1500px;
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    justify-items: center;
    grid-template-columns: 50px 25% 10% 20%;
    padding: 0px;
    background-color: #FFFFF8;
}

.firstColumn {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    top: 33px;
}

.secondRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}


.thirdRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}



.fourthRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}




.fifthRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}


.sixthRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}



.search {
    background-color: #003140;
    color: #FFFFFF;
    text-align: start;
    padding-left: 0px;
    margin-top: 0px;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    top: 18px;
    border-radius: 20px;
}

.searchHeader {
    font-size: 20px;
    width: 140px;
    padding: 0px;
    margin-left: 0px;
    position: relative;
    left: 18px;
    font-weight: 100;
    color: rgb(255, 255, 255, 0.8);
}

.searchLogo {
    position: relative;
    right: 15px;
}

.Header {
    font-size: 20px;
    width: 140px;
}

.line {
    position: relative;
    top: 25px;
}